{% extends "adminNavbar.html" %}
{% block content %}
<div class="container">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-md-12 col-sm-12">

    <form method="post" action="/searchTheStudent">
      <label for="search_input">Search Student:</label>
      <input type="text" name="search_input" required>
      <button type="submit">Search</button>
      <div class="msg" style="color: red;
      font-weight: bold;">{{ msg }}</div>
    </form>
    {% if student %}
    <form action="/addNewClassToDB" method="post">
      <div style="display: flex; flex-direction: column; align-items: center">
        <h2>Add New Student to Class</h2>
      </div>
      <div class="msg">{{ error }}</div>
      <div class="form-group">
        <label for="studentId">Student ID:</label>
        <input type="text" class="form-control" id="studentId" name="studentId" readonly
          value="{{ student.studentID }}">
      </div>
      <div class="form-group">
        <label for="studentName">Student Name:</label>
        <input type="text" class="form-control" id="studentName" name="studentName" readonly
          value="{{ student.studentName }}">
      </div>
      <div class="form-group">
        <label for="courseTitle">Course Title:</label>
        <select class="form-control" id="courseTitle" name="courseTitle" required>
          <!-- Add your teacher options here -->
          {% for course in courses %}
          <option class="form-control" value="{{ course.courseTitle }}">{{ course.courseTitle }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="creditHours">Credit Hours:</label>
        <select class="form-control" id="creditHours" name="creditHours" required>
          <option class="form-control" value="1">1</option>
          <option class="form-control" value="2">2</option>
          <option class="form-control" value="3">3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="className">Class:</label>
        <select class="form-control" id="className" name="className" required>
          <!-- Add your class options here -->
          <option class="form-control" value="Class1">Class 1</option>
          <option class="form-control" value="Class2">Class 2</option>
          <option class="form-control" value="class3">Class 3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="teacherName">Teacher Name:</label>
        <select class="form-control" id="teacherName" name="teacherName" required>
          <!-- Add your teacher options here -->
          {% for teacher in teachers %}
          <option class="form-control" value="{{ teacher.teacherName }}">{{ teacher.teacherName }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <button style="width: 100%;" type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
    {% endif %}
  </div>
  <div class="col-lg-3"></div>
</div>
{% endblock %}